html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
    font-family:HiraKakuProN-W3, "Helvetica Neue", Helvetica, "メイリオ", Arial, sans-serif;
}
html {
    height:100%;
}
body {
	line-height: 1;
	font-family:HiraKakuProN-W3, "Helvetica Neue", Helvetica, "メイリオ", Arial, sans-serif;
	background: rgba(51,153,51,0.10);
	height:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
 
/* remember to define focus styles! */
:focus {
	outline: 0;
}
 
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
 
/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
}

#header{
    width:100%;
    height: 60px;
    background-color: rgba(255,255,255,0.75);
    z-index:100;
}

#header_left{
    margin: 0 auto;
    width: 179px;
    padding: 0;
    padding-left: 56px;
}

#header_right{
    display:none;
}
.refory_logo_new{
    width: 125.3px;
    height: 37.8px;
    margin: 0 auto;
    
}

#refory_img {
    width: 100%;
    display: block;
}

#refory_img #copy_img{
    height:auto;

}

#refory_img #copy_img .logo_img{
    margin:0 auto;
    width: 100%;
    height:auto;
    margin-bottom: -2px;
}
.headline{
    font-size: 23px;
    margin:0 auto;
    text-align: center;
    height: 40px;
    padding-top: 20px;
    background-color: #339933;
    text-decoration: none;
    color: #fff;
}
.story{
    height:170px;
    background-color:#fff;
    border-bottom: 1px solid;
}


.fb_img img{
    width:68px;
    height:68px;
    /*padding: 20px 5px 10px 15px;*/
    border-radius:50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -khtml-border-radius: 50%;
    border: 3px solid rgba(255,255,255,0.6);
    background-size: cover;
    margin-top: 30px;
    margin-left: 30px;
}
.name{
    font-size: 0.9em;
    padding: 10px 0 0 15px;
}

.writer{
    float: left;
    width: 130px;
    height:170px;
}
.story {
    height: 200px;
}
.story.text{
    float: right;
    width: 330px;
    height:170px;
}

.title{
    font-size: 1.15em;
    padding: 50px 5px 30px 5px;
    line-height: 1.25em;
}

.text p{
    font-size: 0.75em;
    padding: 0 10px 0 0;
}

.footer{
    width:100%;
    height:100px;
    background-color: rgba(255,255,255,0.75);
    position:absolute;
    clear:both;
}
.footer_left{
    float: left;
    padding:0;
}
.footer_left img {
    display: none;
}
.footer p {
    padding: 40px;
    margin-bottom: 0px;
    font-size: 15px;
    text-align: center;
    position: relative;
}

.paging {
    text-align:center;
}
.paging li {
    color: #ae9f5b;
    display: inline-block;
    vertical-align: top;
    margin: 0 2px;
    background-color: #F0AD4E;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    
}
.paging a {
    padding: 6px 8px;
    display: inline-block;
    color: #ffffff;
}
#next {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
#next img {
    margin: 0 auto;
}
#next .button {
    margin: 0;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -o-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -khtml-border-radius: 1000px;
    background-color: #339933;
    border-color: #cf5d02;
    color: #fff !important;
    font-weight: 700 !important;
    padding: 10px;
    display: block;

}



/*===============================================
画面の横幅が780px以上
===============================================*/
@media screen and (min-width: 780px) {
#header{
    position: fixed;
    width:100%;
    min-width:760px;
    height: 60px;
    background-color: rgba(255,255,255,0.75);
    z-index:100;
}
#header_left{
    float: left;
    padding: 0 0 0 30px;
    width: 280px;
}
#header_right{
    float:right;
    padding: 0 30px 0 0;
    margin: 3px;
    width:213px;
    display:block;
    
}
#header_right .fb_img-header {
    width: 49px;
    float: left;
    margin-top: 1px;
    margin-left: 8px;
}
#header_right .fb_img-header img{
    width:40px;
    height:40px;
    display: inline-block;
    border-radius:50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -khtml-border-radius: 50%;
    border: 3px solid rgba(255,255,255,0.6);
    background-size: cover;
    right:180px;
    top:6px;
    vertical-align:middle;
}
.refory_logo_new {
    width: 179px;
    height: 54px;
    float: left;
    margin-left: 70px;
}
#fb_login{
    float: right;
    padding: 10px;
    background-color: #305097 ;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    height: 30px;
    width: 183px;
    
}

#header_right .write .write{
    float: right;
    padding: 10px;
    background-color: #339933;
    margin: 7.5px 10px 15px 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
}
#refory_img #copy_img{
    clear: both;
    height:auto;
    margin:auto;
    padding: 60px 0 0 0;
}
#wrap{
    width:100%;
    height:auto !important;
    height:100%;
    position:relative;
    /*margin:auto;*/
    /*padding:40px;*/
}
#contents{
    width:792px;
    min-height:780px;
    margin:0 auto;
    padding-top:30px;
    padding-bottom:60px;
    overflow: hidden;
}
#contents:after{
    clear:both;
}
#contents:before, #contents:after{
    content: " ";
    display: table;
}

.headline{
    font-size: 20px;
    font-family: HiraginoSans-W7;
    color: #4A4A4A;
    margin-left: 10px;
    text-align: left;
    padding: 0;
    background-color: transparent;
    height: 20px;
}

.story{
    float:left;
    margin:25px 15px auto;
    width:366px;
    height:170px;
    background-color:#fff;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
    border-bottom: none;
}

#contents .paging{
    clear: both;
    content: "";
    display: table;
    padding: 20px 0;
    text-align: center;
    margin: 0 auto;
}
.footer{
    width:100%;
    min-width:760px;
    height:100px;
    background-color: rgba(255,255,255,0.75);
    position:absolute;
    bottom:auto;
}
.footer_left{
    float: left;
    padding: 25px 0 0 30px;
}
.footer_left img {
    display: block;
}
.footer p {
    padding: 0;
    margin-bottom: 0px;
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 50px;
    right: 130px;
}
.paging li {
    color: #ae9f5b;
    display: inline-block;
    vertical-align: top;
    margin: 0 2px;
    background-color: #F0AD4E;
    border-radius: 3px;
    
}
.paging a {
    padding: 6px 8px;
    display: inline-block;
    color: #ffffff;
}
#next {
    margin: 0 auto;
    text-align: center;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    
}
#next img {
    margin: 0 auto;
}

#next .button {
    margin: 0;
    border-radius: 1000px;
    background-color: #339933;
    border-color: #cf5d02;
    color: #fff !important;
    font-weight: 700 !important;
    padding: 10px;
    display: block;
    
}
}


